@model List<ResultProjectDTO>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_LayoutAdmin.cshtml";
}

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h3 class="card-title">Project Listesi</h3>
                <div class="card-tools">
                    <div class="input-group input-group-sm">
                        <a href="/Project/Create" class="btn btn-outline-primary btn-sm">
                            <i class="fas fa-plus"></i> Yeni Project
                        </a>
                    </div>
                </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body table-responsive p-0">
                <table class="table table-hover text-nowrap">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Image</th>
                            <th>Title</th>
                            <th>Type</th>
                            <th>Ülke</th>
                            <th>Şehir</th>
                            <th>İlçe</th>
                            <th>Güncelle</th>
                            <th>Sil</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var project in Model)
                        {
                            <tr>
                                <td>@project.Id</td>
                                <td><img class="img-fluid" src="~/img/@project.Image" alt="Image" style="width:50%"></td>
                                <td>@project.Title</td>
                                <td>@project.Type</td>
                                <td>@project.District.City.Country.Name</td>
                                <td>@project.District.City.Name</td>
                                <td>@project.District.Name</td>
                                <td><a href="/Project/Edit?id=@project.Id" class="btn btn-outline-warning">Güncelle</a></td>
                                <td><a asp-controller="Project" asp-action="Delete" asp-route-id="@project.Id" class="btn btn-outline-danger">Sil</a></td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <!-- /.card-body -->
        </div>
        <!-- /.card -->
    </div>
</div>
