@model ResultAboutDTO
<!-- About Start -->
<div class="container-fluid py-6 px-5">
    <div class="row g-5">
        <div class="col-lg-7">
            <h1 class="display-5 text-uppercase mb-4">İNŞAAT SEKTÖRÜNDE <div class="text-primary">LİDERİZ</div></h1>
            <h4 class="text-uppercase mb-3 text-body">@Model.Title</h4>
            <p>@Model.Description</p>
            <div class="row gx-5 py-2">
                <div class="col-sm-6 mb-2">
                    <div class="col-sm-6 mb-2">
                        @foreach (var item in Model.Abilities.GetRange(0, 3))
                        {
                            <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>@item.Name</p>
                        }
                    </div>
                </div>
                <div class="col-sm-6 mb-2">
                    <div class="col-sm-6 mb-2">
                        @foreach (var item in Model.Abilities.GetRange(3, 3))
                        {
                            <p class="fw-bold mb-2"><i class="fa fa-check text-primary me-3"></i>@item.Name</p>
                        }
                    </div>
                </div>
            </div>
            <p class="mb-4">@Model.SubDescription</p>
            <img src="~/img/@Model.Image2" alt="">
        </div>
        <div class="col-lg-5 pb-5" style="min-height: 400px;">
            <div class="position-relative bg-dark-radial h-100 ms-5">
                <img class="position-absolute w-100 h-100 mt-5 ms-n5" src="~/img/@Model.Image1" style="object-fit: cover;">
            </div>
        </div>
    </div>
</div>
<!-- About End -->